.page-header h1 {
  color: #50535a;
  font-size: 35px;
  font-family: "TelefonicaLight"; }
  .page-header h1 button {
    float: right;
    background-color: transparent;
    color: #86888c;
    border: 2px solid #86888c;
    border-radius: 4px;
    padding: 8px 20px 12px;
    font-family: "TelefonicaRegular"; }
@media (max-width: 767px) {
  .page-header {
    margin-top: 0 !important; }
    .page-header h1 {
      text-align: center;
      font-size: 35px !important; } }

.bg-product {
  background-color: #f4f4f4;
  margin-top: 20px;
  height: 350px;
  margin-bottom: -96px; }
  @media (max-width: 767px) {
    .bg-product {
      background-color: #fff;
      margin-top: 0;
      height: auto;
      margin-bottom: 20px; } }

.cont {
  background-color: #fff;
  border-radius: 4px;
  padding: 40px 20px; }

h3.title {
  color: #50535a;
  font-family: #EBEBEB;
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: "TelefonicaLight"; }

.message {
  font-family: "TelefonicaItalic";
  margin-top: 10px;
  color: #86888c; }
