@import './../../variables';

.page-header{
	h1{
		color: $color8;
		font-size: 35px;
		font-family: $font3;
		button{
			float: right;
			background-color: transparent;
			color: $color5;
			border: 2px solid $color5;
			border-radius: $border-radius;
			padding: 8px 20px 12px;
			font-family: $font2;
		}
		@media(max-width:767px){
			font-size: 25px;
		}
	}
}

.cont{
	background-color: $color4;
	border-radius: $border-radius;
	padding: 40px 20px;
	ul{
		li{
			font-family: $font2;
			font-size: 16px;
			margin-bottom: 10px;
			a{
				color: $color2;
			}
		}
	}
}