  @import './../../../variables';
  .navmobile{
  .sidebar-head{
  .user-info{
  float: left;
  margin-left: 10px;
  .user-name{
  font-size: 20px;
  font-family: $font3;
  display: block;
  color: $color8;
  margin-bottom: 0;
  line-height: 18px;
  }
  .user-status{
  display: block;
  font-family: $font3;
  font-size:12px;
  color: $color5;
  strong{
  color:$color1;
  font-family: $font1;
  font-weight: normal;
  }
  }
  }
  }
  }