.product-detail {
  background-color: #fff;
  border-radius: 4px;
  padding: 0;
  min-height: 392px; }
  .product-detail article {
    overflow: hidden;
    max-height: 76px;
    -webkit-transition: all .3s;
    /* Safari */
    transition: all .3s; }
    .product-detail article + a {
      color: #00a9e0; }
      .product-detail article + a:hover, .product-detail article + a:focus {
        opacity: .7; }
  .product-detail .img {
    display: block;
    margin: 20px auto;
    height: 272px; }
    @media (max-width: 767px) {
      .product-detail .img {
        margin-bottom: 20px;
        max-width: 100px;
        height: auto; } }
  .product-detail h1 {
    font-size: 35px;
    color: #50535a;
    font-family: "TelefonicaExtraLight";
    margin-right: 30px; }
    @media (max-width: 767px) {
      .product-detail h1 {
        font-size: 24px; } }
  .product-detail h2 {
    font-size: 16px;
    line-height: 18px;
    color: #50535a;
    font-family: "TelefonicaRegular";
    margin-bottom: 10px;
    margin-right: 30px;
    display: block; }
    @media (max-width: 767px) {
      .product-detail h2 {
        font-size: 14px;
        margin-top: 0; } }
    .product-detail h2 a {
      color: #00a9e0; }
      .product-detail h2 a:hover, .product-detail h2 a:focus {
        opacity: .7; }
  .product-detail h3 {
    font-size: 40px;
    color: #00a9e0;
    font-family: "TelefonicaExtraLight";
    margin-top: 10px;
    margin-right: 30px; }
  .product-detail h4 {
    font-size: 14px;
    color: #86888c;
    font-family: "TelefonicaLight";
    margin-top: 0;
    margin-right: 30px; }
  .product-detail .btn-success {
    background-color: #5bc500;
    color: #fff;
    text-align: center;
    border: none;
    margin: 0 0 10px;
    padding: 8px 20px 15px;
    font-size: 16px;
    font-family: "TelefonicaRegular";
    border-radius: 4px; }
    .product-detail .btn-success:hover, .product-detail .btn-success:focus {
      opacity: .7;
      background-color: #5bc500; }
    .product-detail .btn-success:disabled {
      opacity: 1;
      background-color: #B4B4B4; }
    .product-detail .btn-success i {
      display: none; }
      @media (max-width: 767px) {
        .product-detail .btn-success i {
          display: block; } }
    @media (max-width: 767px) {
      .product-detail .btn-success span {
        display: none; } }
  .product-detail .foot {
    border-top: 1px solid #EBEBEB;
    margin-top: 15px;
    font-family: "TelefonicaLight"; }
    .product-detail .foot a {
      padding: 18px 20px 25px 30px;
      border-right: 1px solid #EBEBEB;
      display: block;
      color: #00a9e0; }
      .product-detail .foot a.nbr {
        border-right: none;
        padding-left: 5px; }
      .product-detail .foot a:hover, .product-detail .foot a:focus {
        opacity: .7; }
      @media (max-width: 767px) {
        .product-detail .foot a {
          padding-left: 10px;
          padding-right: 10px; } }
    .product-detail .foot.nb {
      border: none; }
  .product-detail.product-ficha {
    min-height: 320px; }
    .product-detail.product-ficha h3 {
      color: #5bc500;
      margin-bottom: 0; }
    .product-detail.product-ficha .btn-volver {
      margin-top: 40px;
      margin-bottom: 20px;
      display: block;
      color: #00a9e0; }
      .product-detail.product-ficha .btn-volver:hover, .product-detail.product-ficha .btn-volver:focus {
        opacity: .7; }
  @media (max-width: 991px) {
    .product-detail {
      margin-bottom: 20px; } }

/*# sourceMappingURL=ProductDetail.css.map */
