.pasos {
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: 10px; }
  .pasos .bg-pasos {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "TelefonicaLight";
    position: relative;
    margin-top: 20px; }
    .pasos .bg-pasos .btn-back {
      color: #86888c;
      display: block;
      position: absolute;
      left: 0;
      top: -4px;
      font-size: 32px;
      line-height: 28px;
      color: #86888c; }
      @media (max-width: 767px) {
        .pasos .bg-pasos .btn-back {
          left: 20px;
          top: -4px; } }
    .pasos .bg-pasos ol, .pasos .bg-pasos ul {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 0; }
      .pasos .bg-pasos ol li, .pasos .bg-pasos ul li {
        float: left;
        padding: 1px 10px 3px;
        list-style-position: inside;
        /*border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;*/
        list-style-type: none;
        counter-increment: item;
        cursor: default;
        color: #B4B4B4;
        font-size: 15px;
        margin-left: 10px;
        margin-right: 10px; }
        @media (max-width: 767px) {
          .pasos .bg-pasos ol li, .pasos .bg-pasos ul li {
            margin-left: 5px;
            margin-right: 5px; } }
        .pasos .bg-pasos ol li:first-child, .pasos .bg-pasos ul li:first-child {
          /*border-top-left-radius: 50px;
          border-bottom-left-radius: 50px;*/ }
        .pasos .bg-pasos ol li:before, .pasos .bg-pasos ul li:before {
          font-weight: bold;
          content: counter(item) ".";
          margin-right: 5px; }
          @media (max-width: 767px) {
            .pasos .bg-pasos ol li:before, .pasos .bg-pasos ul li:before {
              margin-right: 0;
              margin-left: 0; } }
        .pasos .bg-pasos ol li.active, .pasos .bg-pasos ul li.active {
          background-color: #00a9e0;
          color: #fff;
          border-radius: 50px; }
          @media (max-width: 767px) {
            .pasos .bg-pasos ol li.active + li, .pasos .bg-pasos ul li.active + li {
              margin-left: -1px; } }
        .pasos .bg-pasos ol li.off, .pasos .bg-pasos ul li.off {
          /*background-color: $color2;
          color: rgba(255, 255, 255, .5);*/
          color: #5bc500;
          /*border-top-right-radius: 0;
          border-bottom-right-radius: 0;*/ }
          @media (max-width: 767px) {
            .pasos .bg-pasos ol li.off, .pasos .bg-pasos ul li.off {
              padding-left: 0;
              padding-right: 0; } }
          .pasos .bg-pasos ol li.off:before, .pasos .bg-pasos ul li.off:before {
            font-family: 'Fontawesome';
            content: "\f058";
            margin-right: 5px;
            font-size: 18px; }
            @media (max-width: 767px) {
              .pasos .bg-pasos ol li.off:before, .pasos .bg-pasos ul li.off:before {
                font-size: 29px;
                line-height: 23px; } }
        @media (max-width: 767px) {
          .pasos .bg-pasos ol li, .pasos .bg-pasos ul li {
            width: 26px;
            height: 26px;
            padding-top: 2px; }
            .pasos .bg-pasos ol li span, .pasos .bg-pasos ul li span {
              display: none; }
            .pasos .bg-pasos ol li:before, .pasos .bg-pasos ul li:before {
              content: counter(item) "";
              margin-right: 0;
              font-family: "TelefonicaBold"; } }
    @media (max-width: 767px) {
      .pasos .bg-pasos {
        /*border-bottom: 1px solid $color3;
        padding-bottom: 10px;*/
        margin-left: -15px;
        margin-right: -15px; } }

.preguntas .bg-pasos {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "TelefonicaLight";
  position: relative;
  margin-top: 20px; }
  .preguntas .bg-pasos .btn-back {
    color: #86888c;
    display: block;
    position: absolute;
    left: 0;
    top: -2px;
    font-size: 32px;
    line-height: 28px;
    color: #86888c; }
    @media (max-width: 767px) {
      .preguntas .bg-pasos .btn-back {
        left: 20px;
        top: -4px; } }
  .preguntas .bg-pasos ol, .preguntas .bg-pasos ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0; }
    .preguntas .bg-pasos ol li, .preguntas .bg-pasos ul li {
      float: left;
      padding: 1px 10px 3px;
      list-style-position: inside;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      list-style-type: none;
      counter-increment: item;
      cursor: default;
      color: #86888c;
      font-size: 13px;
      margin-left: 0;
      margin-right: 0; }
      .preguntas .bg-pasos ol li:first-child, .preguntas .bg-pasos ul li:first-child {
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px; }
      .preguntas .bg-pasos ol li.active, .preguntas .bg-pasos ul li.active {
        background-color: #00a9e0;
        color: #fff; }
      .preguntas .bg-pasos ol li.off, .preguntas .bg-pasos ul li.off {
        background-color: #00a9e0;
        color: rgba(255, 255, 255, 0.5);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0; }
      .preguntas .bg-pasos ol li:before, .preguntas .bg-pasos ul li:before {
        font-weight: bold;
        content: counter(item) ".";
        margin-right: 5px; }
      @media (max-width: 767px) {
        .preguntas .bg-pasos ol li, .preguntas .bg-pasos ul li {
          border-top-right-radius: 50%;
          border-bottom-right-radius: 50%;
          width: 26px;
          height: 26px;
          padding-top: 2px; }
          .preguntas .bg-pasos ol li:first-child, .preguntas .bg-pasos ul li:first-child {
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%; }
          .preguntas .bg-pasos ol li span, .preguntas .bg-pasos ul li span {
            display: none; }
          .preguntas .bg-pasos ol li:before, .preguntas .bg-pasos ul li:before {
            content: counter(item) "";
            margin-right: 0;
            font-family: "TelefonicaBold"; } }
  @media (max-width: 767px) {
    .preguntas .bg-pasos {
      border-bottom: 1px solid #EBEBEB;
      padding-bottom: 10px;
      margin-left: -15px;
      margin-right: -15px; } }

/*# sourceMappingURL=Pasos.css.map */
