@import './../../variables';
.header{
  .navbar-custom{
    background-color: $color4;
    height: 70px;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $color3;
    .navbar-header{
      width: 100%;
      .App-logo{
        margin-top: 15px;
        @media(max-width:767px){
         display: none;
       }
     }
     .App-logo-Mobile{
      display: none;
      @media(max-width:767px){
        display: block;
        margin-top: 15px;
        margin-left: 15px;
      }
    }
  }
  @media(max-width:767px){
    box-shadow: $box-shadow3;
  }
}
} 
