.accordionPlanMobile {
  margin-left: -15px;
  margin-right: -15px; }
  .accordionPlanMobile .is-expanded {
    background-color: #EBEBEB;
    max-height: inherit !important; }
  .accordionPlanMobile .head-plan {
    padding: 20px 15px !important;
    position: relative;
    display: block;
    border-bottom: 1px solid #EBEBEB; }
    .accordionPlanMobile .head-plan h4 {
      margin: 0;
      color: #50535a;
      font-size: 50px;
      font-family: "TelefonicaExtraLight";
      line-height: 46px;
      text-align: left; }
      .accordionPlanMobile .head-plan h4 sub {
        font-size: 16px;
        bottom: 1px; }
    .accordionPlanMobile .head-plan h5 {
      margin: 5px 0 0;
      color: #50535a;
      font-size: 16px;
      font-family: "TelefonicaExtraLight";
      line-height: 16px;
      margin-bottom: 10px; }
    .accordionPlanMobile .head-plan .label-recomendado {
      display: none; }
    .accordionPlanMobile .head-plan .price {
      font-size: 24px;
      color: #5bc500;
      line-height: 24px;
      margin-top: 0;
      display: block;
      text-align: left;
      font-family: "TelefonicaExtraLight"; }
      .accordionPlanMobile .head-plan .price sub {
        font-size: 14px;
        bottom: 0; }
    .accordionPlanMobile .head-plan span {
      display: block;
      color: #86888c;
      font-size: 13px;
      line-height: 15px;
      text-align: left;
      margin-top: 5px;
      margin-bottom: 0; }
    .accordionPlanMobile .head-plan .price-cel {
      display: block;
      padding: 0 0;
      font-size: 13px;
      color: #86888c;
      font-family: "TelefonicaLight";
      font-weight: bold; }
    .accordionPlanMobile .head-plan.recomendado .label-recomendado {
      display: inline-block;
      padding: 2px 5px 5px;
      font-size: 12px;
      line-height: 12px;
      color: #fff;
      background-color: #5bc500;
      border-radius: 4px; }
    .accordionPlanMobile .head-plan .fa-angle-down, .accordionPlanMobile .head-plan .fa-angle-up {
      float: right;
      font-size: 32px;
      color: #50535a; }
    .accordionPlanMobile .head-plan .fa-angle-down {
      display: block; }
    .accordionPlanMobile .head-plan .fa-angle-up {
      display: none; }
    .accordionPlanMobile .head-plan.is-expanded {
      background-color: #EBEBEB;
      border-bottom: none; }
      .accordionPlanMobile .head-plan.is-expanded .fa-angle-down {
        display: none; }
      .accordionPlanMobile .head-plan.is-expanded .fa-angle-up {
        display: block; }
  .accordionPlanMobile .cont-plan {
    padding: 15px;
    height: auto; }
    .accordionPlanMobile .cont-plan .plan {
      border-radius: 4px;
      background-color: #fff;
      padding-bottom: 20px;
      margin-bottom: 20px;
      font-family: "TelefonicaRegular";
      position: relative;
      width: 100%;
      border-left: 1px solid #d3d4d3;
      border-right: 1px solid #d3d4d3;
      border-bottom: 1px solid #d3d4d3;
      box-shadow: 0px 0px 25px -4px rgba(0, 0, 0, 0.4); }
      .accordionPlanMobile .cont-plan .plan ul {
        margin-bottom: 0; }
        .accordionPlanMobile .cont-plan .plan ul li {
          border-bottom: 1px solid #d3d4d3;
          padding: 10px 15px;
          line-height: 14px;
          font-size: 14px;
          color: #86888c;
          font-family: "TelefonicaRegular";
          text-align: center; }
          .accordionPlanMobile .cont-plan .plan ul li strong {
            display: block;
            text-transform: uppercase;
            color: #50535a;
            font-family: "TelefonicaBold";
            font-weight: normal;
            font-size: 12px; }
          .accordionPlanMobile .cont-plan .plan ul li a {
            color: #00a9e0; }
            .accordionPlanMobile .cont-plan .plan ul li a:hover, .accordionPlanMobile .cont-plan .plan ul li a:focus {
              opacity: .7; }
          .accordionPlanMobile .cont-plan .plan ul li .price-cel {
            text-align: center;
            display: block;
            font-size: 22px;
            color: #000;
            font-family: "TelefonicaLight";
            margin-bottom: 20px; }
          .accordionPlanMobile .cont-plan .plan ul li .price {
            font-size: 26px;
            color: #5bc500;
            line-height: 26px;
            font-family: "TelefonicaExtraLight"; }
            .accordionPlanMobile .cont-plan .plan ul li .price sub {
              font-size: 14px;
              bottom: 0; }
          .accordionPlanMobile .cont-plan .plan ul li .text {
            display: block;
            margin-bottom: 5px; }
          .accordionPlanMobile .cont-plan .plan ul li .btn {
            display: block;
            margin: 0 auto 5px;
            width: auto;
            background-color: #5bc500;
            color: #fff;
            text-align: center;
            border: none;
            padding: 6px 20px 13px;
            font-size: 16px;
            font-family: "TelefonicaRegular";
            border-radius: 4px; }
            .accordionPlanMobile .cont-plan .plan ul li .btn:hover, .accordionPlanMobile .cont-plan .plan ul li .btn:focus {
              opacity: .7;
              background-color: #00a9e0; }
            .accordionPlanMobile .cont-plan .plan ul li .btn:disabled {
              opacity: 1;
              background-color: #B4B4B4; }
            .accordionPlanMobile .cont-plan .plan ul li .btn i {
              display: none; }
            @media (max-width: 1199px) {
              .accordionPlanMobile .cont-plan .plan ul li .btn {
                width: 175px; } }
            .accordionPlanMobile .cont-plan .plan ul li .btn + a {
              font-size: 14px;
              color: #00a9e0; }
          .accordionPlanMobile .cont-plan .plan ul li:last-child {
            border-bottom: none; }
      .accordionPlanMobile .cont-plan .plan .foot-plan {
        position: absolute;
        bottom: 20px;
        left: 0;
        width: 100%;
        padding-top: 20px;
        text-align: center; }
        .accordionPlanMobile .cont-plan .plan .foot-plan .btn {
          display: block;
          margin: 0 20px 5px;
          width: auto;
          background-color: #00a9e0;
          color: #fff;
          text-align: center;
          border: none;
          padding: 6px 20px 13px;
          font-size: 16px;
          font-family: "TelefonicaRegular";
          border-radius: 4px; }
          .accordionPlanMobile .cont-plan .plan .foot-plan .btn:hover, .accordionPlanMobile .cont-plan .plan .foot-plan .btn:focus {
            opacity: .7;
            background-color: #00a9e0; }
          .accordionPlanMobile .cont-plan .plan .foot-plan .btn:disabled {
            opacity: 1;
            background-color: #B4B4B4; }
          .accordionPlanMobile .cont-plan .plan .foot-plan .btn i {
            display: none; }
          @media (max-width: 1199px) {
            .accordionPlanMobile .cont-plan .plan .foot-plan .btn {
              width: 175px; } }
          .accordionPlanMobile .cont-plan .plan .foot-plan .btn + a {
            font-size: 14px;
            color: #00a9e0; }
    .accordionPlanMobile .cont-plan .recomendado .head-plan {
      background-color: #5bc500; }
      .accordionPlanMobile .cont-plan .recomendado .head-plan span {
        display: block;
        position: absolute;
        top: 6px;
        left: 0;
        width: 100%;
        color: #fff;
        font-family: "TelefonicaRegular";
        padding-bottom: 4px;
        border-bottom: 1px solid #50ad00; }
    .accordionPlanMobile .cont-plan .recomendado .price {
      color: #5bc500; }
    .accordionPlanMobile .cont-plan .recomendado .foot-plan .btn {
      background-color: #5bc500; }
      .accordionPlanMobile .cont-plan .recomendado .foot-plan .btn:hover, .accordionPlanMobile .cont-plan .recomendado .foot-plan .btn:focus {
        opacity: .7;
        background-color: #5bc500; }
      .accordionPlanMobile .cont-plan .recomendado .foot-plan .btn:disabled {
        opacity: 1;
        background-color: #B4B4B4; }

.lala {
  border: 1px solid red; }

/*# sourceMappingURL=AccordionPlanMobile.css.map */
