.tarjetas-promos {
  margin-top: 30px;
  font-family: "TelefonicaLight"; }
  .tarjetas-promos .credit-card {
    display: block; }
  .tarjetas-promos hr {
    margin-left: -20px;
    margin-right: -20px; }
    @media (max-width: 767px) {
      .tarjetas-promos hr {
        margin-top: 0;
        margin-bottom: 5px; } }
  .tarjetas-promos .form-group {
    position: relative; }
    .tarjetas-promos .form-group .form-control {
      border-radius: 4px;
      border: 1px solid #EBEBEB;
      background-color: #EBEBEB;
      box-shadow: none;
      font-size: 16px;
      padding-bottom: 15px;
      padding-top: 11px;
      height: auto;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: ''; }
      .tarjetas-promos .form-group .form-control::-ms-expand {
        display: none; }
      .tarjetas-promos .form-group .form-control:focus {
        border-color: #00a9e0; }
      .tarjetas-promos .form-group .form-control::placeholder {
        font-style: italic; }
    .tarjetas-promos .form-group .fa-angle-down {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 22px;
      color: #00a9e0;
      pointer-events: none; }
  .tarjetas-promos .foot-form {
    margin-left: -20px;
    margin-right: -20px;
    background-color: #EBEBEB;
    padding: 20px 30px;
    margin-bottom: -20px;
    font-size: 24px;
    color: #86888c; }
    .tarjetas-promos .foot-form .form-group {
      position: relative;
      display: inline-block; }
      .tarjetas-promos .foot-form .form-group .form-control {
        background-color: #fff;
        padding-left: 5px;
        padding-right: 5px;
        width: 70px;
        margin-right: 20px;
        margin-left: 5px;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
        box-shadow: 0px 0px 25px -4px rgba(0, 0, 0, 0.4); }
        .tarjetas-promos .foot-form .form-group .form-control::-ms-expand {
          display: none; }
        .tarjetas-promos .foot-form .form-group .form-control option {
          font-family: "TelefonicaLight"; }
        @media (max-width: 767px) {
          .tarjetas-promos .foot-form .form-group .form-control {
            width: 54px; } }
      .tarjetas-promos .foot-form .form-group .fa-angle-down {
        position: absolute;
        top: 15px;
        right: 30px;
        font-size: 22px;
        color: #00a9e0;
        pointer-events: none; }
    .tarjetas-promos .foot-form .importe {
      color: #5bc500;
      margin-right: 30px; }
      @media (max-width: 767px) {
        .tarjetas-promos .foot-form .importe {
          margin-right: 5px; } }
    @media (max-width: 767px) {
      .tarjetas-promos .foot-form label {
        font-size: 12px; } }
  .tarjetas-promos .verpromos {
    color: #00a9e0;
    margin-top: 28px;
    display: block; }
    .tarjetas-promos .verpromos:hover {
      opacity: .8;
      color: #00a9e0; }
    @media (max-width: 767px) {
      .tarjetas-promos .verpromos {
        display: none; } }
  @media (max-width: 767px) {
    .tarjetas-promos p {
      text-align: left;
      margin-bottom: 10px; }
    .tarjetas-promos .form-group {
      text-align: left; }
      .tarjetas-promos .form-group .radio-inline {
        text-align: left;
        margin-left: 0;
        margin-right: 10px; }
        .tarjetas-promos .form-group .radio-inline img {
          width: 30px; }
          .tarjetas-promos .form-group .radio-inline img.fix-rapipago {
            width: 50px; } }
