@import './../../variables';

.tarjetas-promos{
	margin-top: 30px;
	font-family: $font3;
	.credit-card{
		display: block;
		margin-left: 5px;
	}
	.logo-efectivo{
		margin-left: 5px;
		margin-bottom: 20px;
	}
	hr{
		margin-left: -20px;
		margin-right: -20px;
		@media(max-width:767px){
			margin-top: 0;
			margin-bottom: 5px;
		}
	}
	.radio-inline{
		p{
			margin-left: 5px;
			.logo-efectivo{
				vertical-align: top;
			}
		}
	}
	.form-group{
		position: relative;

		.form-control{
			border-radius: $border-radius;
			border: 1px solid $color3;
			background-color: $color3;
			box-shadow: none;
			font-size: 16px;
			padding-bottom: 15px;
			padding-top: 11px;
			height: auto;
			-webkit-appearance: none;
			-moz-appearance: none;
			text-indent: 1px;
			text-overflow: '';
			&::-ms-expand {
				display: none;
			}
			&:focus{
				border-color: $color2;
			}
			&::placeholder{
				font-style: italic;
			}
		}
		.fa-angle-down{
			position: absolute;
			top:15px;
			right: 15px;
			font-size: 22px;
			color: $color2;
			pointer-events:none;
		}
	}
	.foot-form{
		margin-left: -20px;
		margin-right: -20px;
		background-color: $color3;
		padding: 20px 30px;
		margin-bottom: -20px;
		font-size: 22px;
		color: $color5;
		.form-group{
			position: relative;
			display: inline-block;
			@media(max-width:767px){
				margin-bottom: 0;
			}
			.form-control{
				background-color: $color4;
				padding-left: 5px;
				padding-right: 5px;
				width: 70px;
				margin-right: 20px;
				margin-left: 5px;
				-webkit-appearance: none;
				-moz-appearance: none;
				text-indent: 1px;
				text-overflow: '';
				box-shadow: $box-shadow3;
				&::-ms-expand {
					display: none;
				}
				option{
					font-family: $font3;
				}
				@media(max-width:767px){
					width: 48px;
					margin-right: 5px;
				}
			}
			.fa-angle-down{
				position: absolute;
				top:15px;
				right: 30px;
				font-size: 22px;
				color: $color2;
				pointer-events:none;
				@media(max-width:767px){
					right: 13px;
				}
			}
		}
		.importe{
			color: $color1;
			margin-right: 20px;
			@media(max-width:767px){
				margin-right: 5px;
			}
			@media(max-width:359px){
				margin-right: 2px;
			}
		}
		.total{
			color: $color1;
			margin-left: 20px;
			b{
				font-weight: normal;
				color: $color5;
			}
			sub{
				font-size: 12px;
				color: $color5;
				bottom: 4px;
				left: 2px;
			}
			@media(max-width:767px){
				margin-left: 5px;
			}
		}
		@media(max-width:767px){
			padding-left:10px;
			padding-right:10px;
			label{
				font-size: 15px;
			}
		}
		@media(max-width:359px){
			padding-left: 0;
			padding-right: 0;
		}
	}
	.verpromos{
		color: $color2;
		margin-top: 43px;
		display: block;
		&:hover{
			opacity: .8;
			color: $color2;
		}
		@media(max-width:767px){
			display: none;
		}
	}
	input[type="radio"]{
		display: block;
		text-align: left;
		float: left;
		margin-left: -25px;
		margin-right: 10px;
		-webkit-appearance:none !important;
		-moz-appearance:none !important;
		height:19px;
		width:19px;
		cursor:pointer;
		position:relative;
		-webkit-transition: .15s;
		border-radius:50%;
		background-color:$color4;
		border: 2px solid $color8;
		&:checked {
			border: 1px solid $color8;
			background-color: $color8;
		}
	}
	input[type="radio"]:before, input[type="radio"]:checked:before {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		line-height:17px;
		font-size: 9px;
		font-weight: normal;
		text-align:center;
		color:$color4;
		content: '';
	}
	input[type="radio"]:checked:before {
		content: "\f111";
		font-family: 'Fontawesome';
	}

	@media(max-width:767px){
		p{
			text-align: left;
			margin-bottom: 10px;
		}
		.form-group{
			text-align: left;
			.radio-inline{
				text-align: left;
				margin-left: 0;
				margin-right: 10px;
				img{
					height: 25px;
					&.fix-rapipago{
						width: 50px;
					}
				}
			}	
		}
	}
}