.header-green{
  .navbar-custom{
    background-color: #5bc500;
    height: 70px;
    border: none;
    border-radius: 0;
    .App-logo{
      margin-top: 15px;
      @media(max-width:767px){
			display: none;
		}
    }
  }
}