 $color1: #5bc500;
 $color2: #00a9e0;
 $color3: #EBEBEB;
 $color4: #fff;
 $color5: #86888c;
 $color6: #954b97;
 $color7: #e9426d;
 $color8: #50535a;
 $color9: #B4B4B4;
 $color10: #d3d4d3;
 $color11: #b6b7b7;
 $color12: #f59c00;
 $color13: #f4f4f4;
 $color14: #e1e1e1;
 $color15: #e9eae8;
 $color16: #ec6839;
 $color17: #017da5;
 $color18: #000;
 $color19: #50ad00;

 $font1: 'TelefonicaBold';
 $font2: 'TelefonicaRegular';
 $font3: 'TelefonicaLight';
 $font4: 'TelefonicaExtraLight';
 $font5: 'TelefonicaItalic';
 $font6: 'TelefonicaHand';
 $border-radius: 4px;
 $box-shadow: -7px 7px 20px 0px rgba(12, 5, 13, 0.3);
 $box-shadow2: 20px 0px 40px 0px rgba(0, 0, 0, 0.3);
 $box-shadow3: 0px 0px 25px -4px rgba(0,0,0,0.40);
 $box-shadow4: 0 2px 4px 0 rgba(0,0,0,0.20);