.cont-search {
  margin-top: 20px; }
  .cont-search h3 {
    font-family: "TelefonicaRegular";
    font-size: 18px;
    margin-bottom: 20px;
    color: #50535a; }
    .cont-search h3 strong {
      font-family: "TelefonicaBold";
      font-weight: normal;
      color: #5bc500; }
  .cont-search .form-group {
    position: relative; }
    .cont-search .form-group .fa-search {
      position: absolute;
      right: 15px;
      top: 12px;
      font-size: 20px;
      pointer-events: none;
      color: #50535a; }
    .cont-search .form-group .form-control {
      border-radius: 4px;
      border: 1px solid #EBEBEB !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2) !important;
      background-color: #fff !important;
      font-size: 16px;
      line-height: 16px;
      font-family: "TelefonicaLight";
      height: 48px !important;
      padding-right: 50px; }
      .cont-search .form-group .form-control::placeholder {
        font-style: italic; }
  .cont-search .btn-default {
    height: 48px;
    font-family: "TelefonicaRegular";
    font-size: 18px;
    background-color: #EBEBEB;
    border: none;
    color: #50535a;
    float: right; }
    .cont-search .btn-default span {
      display: block; }
    .cont-search .btn-default .fa-crosshairs {
      display: none; }
    @media (max-width: 767px) {
      .cont-search .btn-default {
        float: none;
        width: 100%; }
        .cont-search .btn-default span {
          display: none; }
        .cont-search .btn-default .fa-crosshairs {
          display: block; } }
  @media (max-width: 767px) {
    .cont-search {
      margin-bottom: 20px; } }

.marker {
  position: 'relative';
  color: #50535a;
  background: url("./marker.png") no-repeat;
  padding: 0;
  top: -20px;
  left: -30px;
  width: 50px;
  height: 60px;
  text-align: left;
  font-family: "TelefonicaLight";
  line-height: 13px;
  font-size: 12px; }

.cont-map {
  height: 325px;
  margin-bottom: 20px; }

.cont-sucursales {
  height: 325px;
  border: 2px solid #EBEBEB; }
  .cont-sucursales .scrollbar-container.vertical {
    background-color: #EBEBEB;
    width: 8px;
    opacity: 1; }
    .cont-sucursales .scrollbar-container.vertical .scrollbar {
      background-color: #50535a;
      opacity: 1;
      width: 6px;
      border-radius: 10px;
      margin-left: 2px; }
  @media (max-width: 767px) {
    .cont-sucursales {
      margin-bottom: 20px; } }
