@import './../../variables';
.cont-search{
	margin-top: 20px;
	h3{
		font-family: $font2;
		font-size: 18px;
		margin-bottom: 20px;
		color: $color8;
		strong{
			font-family: $font1;
			font-weight: normal;
			color: $color1;
		}
	}
	.form-group{
		position: relative;
		.fa-search{
			position: absolute;
			right: 15px;
			top: 12px;
			font-size: 20px;
			pointer-events: none;
			color: $color8;
		}
		.form-control{
			border-radius: $border-radius;
			border: 1px solid $color3 !important;
			box-shadow: $box-shadow4 !important;
			background-color: $color4 !important;
			font-size: 16px;
			line-height: 16px;
			font-family: $font3;
			height: 48px !important;
			padding-right: 50px;
			&::placeholder{
				font-style: italic;
			}
		}
	}
	.btn-default{
		height: 48px;
		font-family: $font2;
		font-size: 18px;
		background-color: $color3;
		border: none;
		color: $color8;
		float: right;
		span{
			display: block;
		}
		.fa-crosshairs{
			display: none;
		}
		@media(max-width:767px){
			float: none;
			width: 	100%;
			span{
				display: none;
			}
			.fa-crosshairs{
				display: block;
			}
		}
	}
	@media(max-width:767px){
		margin-bottom: 20px;
	}
}
.marker{
	position: 'relative'; 
	color: $color8; 
	background: url('./marker.png') no-repeat;
    padding: 0;
    top: -20px; 
    left: -30px;
    width: 50px;
    height: 60px;
    text-align: left; 
    font-family: $font3;
    line-height: 13px;
    font-size: 12px;
}
.cont-map{
	height: 325px;
	margin-bottom: 20px;
}
.cont-sucursales{
	height: 325px;
	border: 2px solid $color3;
	.scrollbar-container.vertical{
		background-color: $color3;
		width: 8px;
		opacity: 1;
		.scrollbar{
			background-color: $color8;
			opacity: 1;
			width: 6px;
			border-radius: 10px;
			margin-left: 2px;
		}
	}
	@media(max-width: 767px){
		margin-bottom: 20px;
	}
}