@import './../../variables';
.preguntas{
	.cont-preguntas{
		margin-top: 30px;
		font-family: $font2;
		h2{
			margin-bottom: 30px;
		}
		p{
			color: $color5;
			strong{
				font-family: $font1;
				font-weight: normal;
				color: $color8;
			}
			a{
				color: $color2;
			}
			&.light{
				color: $color9;
			}
		}
		
		label{
			color: $color5;
		}
		&.msg-error{
			p{
				font-size: 18px;
			}
			.btn-success{
				margin: 10px auto;
				float: none;
				padding: 12px 30px 15px;
				font-size: 18px;
			}
		}
		.form-group{
		.radio{
			label{
				width: 100%;
				font-size: 16px;
				line-height: 21px;
				padding-left: 25px;
				h4{
					font-family: $font2;
					font-weight: normal;
					color: $color8;
					margin: 0;
					float: left;
					span{
						color: $color1;
					}
					&.nf{
						float: none;
					}
					
					@media(max-width:767px){
						float: none;
					}
				}
				input[type="radio"]{
					display: block;
					text-align: left;
					float: left;
					margin-left: -25px;
					margin-right: 10px;
					-webkit-appearance:none !important;
					-moz-appearance:none !important;
					height:19px;
					width:19px;
					cursor:pointer;
					position:relative;
					-webkit-transition: .15s;
					border-radius:50%;
					background-color:$color4;
					border: 2px solid $color8;
					&:checked {
						border: 1px solid $color8;
						background-color: $color8;
					}
				}
				input[type="radio"]:before, input[type="radio"]:checked:before {
					position:absolute;
					top:0;
					left:0;
					width:100%;
					height:100%;
					line-height:17px;
					font-size: 9px;
					font-weight: normal;
					text-align:center;
					color:$color4;
					content: '';
				}
				input[type="radio"]:checked:before {
					content: "\f111";
					font-family: 'Fontawesome';
				}

				input[type="radio"]:hover:before {

				}
			}
		}
	}
	.table-list{
		tr{
			td{
				.form-group{
					margin-bottom: 3px;
				}
				&:first-child{
					white-space: nowrap;
				}
				p{
					font-size: 14px;
					margin-bottom: 0;
				}
			}
		}
		.btn-success{
			float: right;
		}
	}
	}
	.btn-success{
		float: right;
		/*margin-top: -40px;*/
		@media(max-width:767px){
			float: none;
			display: block;
			width: 100%;
		}
	}
	.bg-pasos{
		border-top: 1px solid $color3;
		padding-top: 20px;
		border-bottom: none;
		margin-right: -20px;
		margin-left: -20px;
		ul{
			li{
				counter-increment:normal;
				&:before {
					font-weight:bold;
					content:"";
					margin-right: 0;
				}
				span{
					display: block;
				}
			}
		}
	}
	&.text-center{
		.cont-preguntas{
			.btn-success{
				float: none;
				margin-top: 20px;
			}
		}
	}
}

